@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]= "Kaden Souter";
}

<h1> My Name is Kaden Souter</h1>
<img src="img/Parrish006470-R1-069-33_Original.jpg" width="450" height="300" />
<br />
<p>
    I hope to develop applicable skills in this class that will help me in my future jobs.
    I want to become comfortable creating and designing websites. I also want to be able to
    feel comfortable coding in multiple different languages.
</p>
<br />
<h3>My top 3 dream jobs:</h3>
<ul>
    <li>1. Data Analyst for the Utah Jazz</li>
    <li>2. Web Developer</li>
    <li>3. Infromation Systems Manager at Adobe</li>
</ul>
<br />


    
